$spaceSm: 5px;
$space: 15px;
$spaceLg: 30px;
$fontSizeSmall: 0.6em;
$colorFg: #A9D24E;
$colorBg: #183100;
$colorSmall: #2C4E22;
$colorError: #BD0000;
$colorLink: #A9D24E;

*.fontSizeSmall {
  font-size: $fontSizeSmall;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  background-color: $colorBg;
  color: $colorFg;
}

div {
  background-color: $colorBg;
  color: $colorFg;
}

.small {
  font-size: $fontSizeSmall;
}

.greyed {
  color: $colorSmall;
}

.grayed {
  color: $colorSmall;
}

a {
  color: $colorLink;
  cursor: pointer;
  text-decoration-line: underline;
}

a:hover {
  color: $colorLink;
}

input {
  margin: 0px $spaceSm $spaceSm;
}

textarea {
  margin: 0px $spaceSm $spaceSm;
}

button {
  margin: 0px $spaceSm $spaceSm;
}

input.error {
  border: 2px $colorError solid;
}

textarea.error {
  border: 2px $colorError solid;
}

input.error::placeholder {
  color: $colorError;
}

textarea.error::placeholder {
  color: $colorError;
}

.spaceTop {
  margin-top: $spaceLg;
}

.spaceRight {
  margin-right: $spaceLg;
}

.spaceBottom {
  margin-bottom: $spaceLg;
}

.spaceLeft {
  margin-left: $spaceLg;
}

.spaceTopRight {
  margin-top: $spaceLg;
  margin-right: $spaceLg;
}

.spaceTopLeft {
  margin-top: $spaceLg;
  margin-left: $spaceLg;
}

.spaceTopRightLeft {
  margin-top: $spaceLg;
  margin-right: $spaceLg;
  margin-left: $spaceLg;
}

.spaceTopRightBottomLeft {
  margin: $spaceLg;
}

.spaceBottomLeft {
  margin-bottom: $spaceLg;
  margin-left: $spaceLg;
}

.formFieldDescription {
  margin: $spaceLg $space $spaceSm;
}

ul.hidden {

  padding-left: 0;

  li {
    list-style: none;
  }
}



